<!--
    This page shows books currently borrowed by the user
    Users can return books or extend return time.

    Author: Matt Miss
    Date: 5/2/24
    File: borrows.html
 -->

<!--Header-->
<include href="views/header.html" with="title=My Borrows"></include>
<body>
<include href="views/navbar.html" with="active=borrows"></include>

    <div class="container py-5">
        <h1 class="text-center mb-4">My Borrows</h1>
        <div class="search-results">
            <check if="{{@borrowedItems == null}}">
                <div class="d-flex pt-4">
                    <a class="btn btn-outline-success m-auto" href="search">Search our catalog for items available to borrow</a>
                </div>
            </check>
            {{@SESSION.userId}}
            {{@SESSION.first}}
            <repeat group="{{ @borrowedItems }}" value="{{ @item }}">
                <div class="search-result-item p-4">
                    <div class="row">
                        <div class="col-auto">
                            <img src="{{@item.cover}}">
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column gap-1">
                                <span class="book-title">{{ @item.title }}</span>
                                <span>by <span class="book-author">{{@item.author}}</span></span>
                                <span><span class="book-pages">{{ @item.pages }}</span> pages</span>
                            </div>

                        </div>
                        <div class="col-auto d-flex flex-column ">
                            <div class="d-flex flex-column gap-1 mb-auto align-items-end">
                                <span>Due Date: <span>{{@item.returnDate}}</span></span>
                                <check if="{{DataLayer::isOverdue(@item.returnDate)}}">
                                    <true><span class="overdue">Days Overdue: <span>{{DataLayer::getDaysFromReturnDate(@item.returnDate)}}</span></span></true>
                                    <false><span class="not-overdue">Days Remaining: <span>{{DataLayer::getDaysFromReturnDate(@item.returnDate)}}</span></span></false>
                                </check>

                            </div>

                            <div class="d-flex flex-column gap-1">
                                <button class="btn btn-danger" >Return Item</button>
                                <button class="btn btn-primary" >Extend Hold</button>
                            </div>

                        </div>
                    </div>
                </div>
            </repeat>
        </div>
    </div>
</body>
</html>