<!--
    This page shows books currently borrowed by the user
    Users can return books or extend return time.

    Author: Matt Miss
    Date: 5/2/24
    File: borrows.html
 -->

<!--Header-->
<include href="views/header.html" with="title=My Borrows"></include>
<body>
<include href="views/navbar.html" with="active=borrows"></include>

    <div class="container py-5">
        <h1 class="text-center mb-4">My Borrows</h1>
        <div class="search-results">
            <repeat group="{{ @myBorrows[0] }}" value="{{ @result }}">
                <div class="search-result-item p-4">
                    <div class="row">
                        <div class="col-auto">
                            <img src="{{@result->volumeInfo->imageLinks->thumbnail}}">
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column gap-1">
                                <span class="book-title">{{ @result->volumeInfo->title }}</span>
                                <span>by <span class="book-author">{{  implode(", ", @result->volumeInfo->authors)}}</span></span>
                                <span><span class="book-pages">{{ @result->volumeInfo->pageCount }}</span> pages</span>
                            </div>

                        </div>
                        <div class="col-auto d-flex flex-column ">
                            <div class="d-flex flex-column gap-1 mb-auto align-items-end">
                                <span>Due Date: <span>5/25/2024</span></span>
                                <span>Days Remaining: <span>6</span></span>
                            </div>

                            <div class="d-flex flex-column gap-1">
                                <button class="btn btn-danger" >Return Item</button>
                                <button class="btn btn-primary" >Extend Hold</button>
                            </div>

                        </div>
                    </div>
                </div>
            </repeat>
        </div>
    </div>
</body>
</html>