<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Donate</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<!-- Header -->
<include href="views/header.html" with="title=Donate"></include>

<!-- Navbar -->
<include href="views/navbar.html" with="active=donate"></include>

<div class="container py-5">
    <h1 class="text-center mb-4">Donate</h1>


    <check if="{{ @message }}">
        <div class="alert alert-info text-center">
            {{ @message }}
        </div>
    </check>
</div>
{{@SESSION.userId}}
{{@SESSION.first}}

    <form id="donation-form" class="row" action="#" method="post">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr class="mt-0">
            <div class="row g-3">
                <!-- Amount -->
                <div class="col-12">
                    <label for="amount" class="form-label">Amount</label>
                    <input type="number" class="form-control" name="amount" id="amount" required>
                </div>
                <!-- Submit -->
                <div class="col-12">
                    <button type="submit" class="container-fluid btn btn-primary fw-medium">Donate</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </form>
</div>

<!-- Required JavaScript -->
<include href="views/footer.html" ></include>

