<!--
    Home page for our Library System
    Name: Brandon Viorato, Hao Fan
    Date: 5/2/24
    File: home.html
 -->

<!--Header-->
<include href="views/header.html" with="title=Welcome To The Library"></include>
<!--Navbar-->
<include href="views/navbar.html" with="active=home"></include>
<div class="container py-5">

    <div class="row">
        <!-- Form Column -->
        <div class="col-md-6">
            <img class="libraryEntrance" src="./img/homePage.webp" alt="LibraryEntrance" srcset="">
        </div>
        <!-- Description Column -->
        <div class="col-md-6">
            <h1 class="text-center mb-4">Welcome to the Library!</h1>
            <p class="lead">Welcome to our Online Library System! This is a project by Team Eazy. We
                will Fat-Free, a PHP framework to build this website. Here you can access a wide
                range of books, articles, and educational materials. Join us to explore new horizons
                through reading and learn more about our special features.</p>

        </div>
    </div>
</div>
<!-- Bootstrap Bundle with Popper -->
<include href="views/footer.html" ></include>

