<include href="views/header.html" style="width: 100%; border: none;"></include>
<body>
<!--this is navbar-->
<include href="views/navbar.html" style="width: 100%; border: none;"></include>

<div class="container py-5">
    <h1 class="text-center mb-4">Welcome to the Library!</h1>
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form>
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="Search Term" name="search">
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>