<!--
    This page lets users search for a book using Google Books API
    Books can be checked out from the library

    Author: Matt Miss
    Date: 5/8/24
    File: search.html
 -->

<script>
    function saveItemClick(action, type) {
        console.log(action);
        console.log(type);

        if (confirm("Check out item? It will be due in 2 weeks.")){
            $.ajax({
                url:"add-to-database",    //the page containing php script
                type: "post",    //request type,
                data: {item: action},
                success:function(result){
                    console.log("Result: ", result);
                    alert('Book has been checked out!');
                },
                error: function(xhr, status, error) {
                    console.error('Error:', error);
                    alert('Sorry, something went wrong!');
                }
            });
        }

    }

</script>
<!--Header-->
<include href="views/header.html" with="title=Search Catalog"></include>


<body>
    <!--Navbar-->
    <include href="views/navbar.html" with="active=search"></include>

    <div class="container py-5">
        <h1 class="text-center mb-4">Search our Catalog</h1>
        <form action="#" method="POST" class="pt-4">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-auto">
                            <div class="mb-3">
                                <label for="type" class="col-form-label">Format</label>
                            </div>
                        </div>
                        <div class="col">
                            <select id="type" name="type" class="form-select" aria-label="Book Format Select">
                                <option selected value="all">All</option>
                                <option value="books">Book</option>
                                <option value="magazines">Magazine</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col pe-0">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Enter Search Term" name="searchTerm">
                            </div>
                        </div>
                        <div class="col-auto ps-0">
                            <div class="mb-3">
                                <button type="submit" class="btn btn-primary search-btn"><i class="fa-solid fa-magnifying-glass px-2"></i></button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <!-- Book Search Results-->
        <div class="search-results">
            <repeat group="{{ @searchResults }}" value="{{ @result }}">
<!--                <pre>{{var_dump(@result)}}</pre>-->

                <check if="{{get_class(@result) == 'Book'}}">
                    <div class="search-result-item p-4">
                        <div class="row">
                            <div class="col-auto">
                                <img src="{{@result->getCover()}}">
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column gap-1">
                                    <span class="book-title">{{ @result->getTitle() }}</span>
                                    <check if ="{{@result->getAuthors()}}">
                                        <true>
                                            <span>by <span class="book-author">{{  implode(", ", @result->getAuthors())}}</span></span>
                                        </true>
                                        <false>
                                            Author not found
                                        </false>
                                    </check>
                                    <span><span class="book-pages">{{ @result->getPages() }}</span> pages</span>
                                    <span class="book-description">{{ @result->getDescription() }}</span>
                                </div>

                            </div>
                            <div class="col-auto mt-auto">

                                <div class="d-flex flex-column gap-1">
                                    <check if="{{@SESSION.userId}}">

                                        <true>
                                            <button class="btn btn-primary" onclick='saveItemClick(`{{ json_encode(@result) }}`, `Book`)'>Check Out</button>
                                            <button class="btn btn-danger" disabled>Put On Hold</button>
                                        </true>
                                        <false>
                                            <a class="btn btn-outline-success" href="login">Login/Sign Up to Check Out</a>
                                            <button class="btn btn-primary" disabled>Check Out</button>
                                            <button class="btn btn-danger" disabled>Put On Hold</button>
                                        </false>
                                    </check>
                                </div>

                            </div>
                        </div>
                    </div>
                </check>
                <check if="{{get_class(@result) == 'Magazine'}}">
                    <div class="search-result-item p-4">
                        <div class="row">
                            <div class="col-auto">
                                <img src="{{@result->getCover()}}">
                            </div>
                            <div class="col">
                                <div class="d-flex flex-column gap-1">
                                    <span class="book-title">{{ @result->getTitle() }}</span>
                                    <span><span class="book-pages">{{ @result->getPages() }}</span> pages</span>
                                    <span class="book-description">{{ @result->getDescription() }}</span>
                                </div>

                            </div>
                            <div class="col-auto mt-auto">
                                <div class="d-flex flex-column gap-1">
                                    <button class="btn btn-primary" >Checks Out</button>
                                    <button class="btn btn-danger" >Put On Hold</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </check>
            </repeat>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="add-to-db-modal" tabindex="-1" aria-labelledby="add-to-db-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Saved Book?</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" >Save Book</button>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>