<include href="views/header.html" style="width: 100%; border: none;" with="title=Search Catalog"></include>
<body>
    <!--this is navbar-->
    <include href="views/navbar.html" style="width: 100%; border: none;" with="active=search"></include>

    <div class="container py-5">
        <h1 class="text-center mb-4">Search our Catalog</h1>
        <form action="#" method="POST" class="pt-4">
            <div class="row">
                <div class="col-sm-4">
                    <div class="row">
                        <div class="col-auto">
                            <div class="mb-3">
                                <label for="type" class="col-form-label">Format</label>
                            </div>
                        </div>
                        <div class="col">
                            <select id="type" name="type" class="form-select" aria-label="Book Format Select">
                                <option selected value="all">All</option>
                                <option value="books">Book</option>
                                <option value="magazines">Magazine</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="row">
                        <div class="col pe-0">
                            <div class="mb-3">
                                <input type="text" class="form-control" placeholder="Enter Search Term" name="searchTerm">
                            </div>
                        </div>
                        <div class="col-auto ps-0">
                            <button type="submit" class="btn btn-primary "><i class="fa-solid fa-magnifying-glass px-2"></i></button>
                        </div>
                    </div>
                </div>

            </div>
        </form>
        <div class="search-results">
            <repeat group="{{ @searchResults[0] }}" value="{{ @result }}">
                <div class="search-result-item p-4">
                    <div class="row">
                        <div class="col-auto">
                            <img src="{{@result->volumeInfo->imageLinks->thumbnail}}">
                        </div>
                        <div class="col">
                            <div class="d-flex flex-column gap-1">
                                <span class="book-title">{{ @result->volumeInfo->title }}</span>
                                <check if ="{{@result->volumeInfo->authors}}">
                                    <true>
                                        <span>by <span class="book-author">{{  implode(", ", @result->volumeInfo->authors)}}</span></span>
                                    </true>
                                    <false>
                                        Author not found
                                    </false>
                                </check>
                                <span><span class="book-pages">{{ @result->volumeInfo->pageCount }}</span> pages</span>
                                <span class="book-description">{{ @result->volumeInfo->description }}</span>
                            </div>

                        </div>
                        <div class="col-auto mt-auto">
                            <div class="d-flex flex-column gap-1">
                                <button class="btn btn-primary" >Check Out</button>
                                <button class="btn btn-danger" >Put On Hold</button>
                            </div>

                        </div>
                    </div>
                </div>
            </repeat>
        </div>
    </div>
</body>
</html>