<!--
    This is the sign-up form for our library.
    It collects name and email.

    Author: Brandon Viorato
    Date: 5/9/24
    File: signUp.html
 -->

<!--Header-->
<include href="views/header.html" with="title=Sign Up"></include>
<body>

<!--Navbar-->
<include href="views/navbar.html" with="active=signUp"></include>

<!-- Form -->
<div class="container">
    <!-- Form title -->
    <p class="fs-3 d-flex justify-content-center">Sign Up</p>
    <form action="#" method="post" class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <hr class="mt-0">
            <div class="row g-3">
                <!-- First Name -->
                <div class="col-md-6">
                    <label for="firstName" class="form-label">First Name</label>
                    <input type="text" class="form-control" name="firstName" id="firstName" required>
                    <check if="{{ isset(@errors['firstName']) }}">
                        <span class="err"> *{{ @errors['firstName'] }}</span>
                    </check>
                </div>
                <!-- Last Name -->
                <div class="col-md-6">
                    <label for="lastName" class="form-label">Last Name</label>
                    <input type="text" class="form-control" name="lastName" id="lastName">
                    <check if="{{ isset(@errors['lastName']) }}">
                        <span class="err"> *{{ @errors['lastName'] }}</span>
                    </check>
                </div>
                <!-- Email -->
                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="you@example.com">
                    <check if="{{ isset(@errors['email']) }}">
                        <span class="err"> *{{ @errors['email'] }}</span>
                    </check>
                </div>
                <!-- Password -->
                <div class="col-12">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                    <check if="{{ isset(@errors['password']) }}">
                        <span class="err"> *{{ @errors['password'] }}</span>
                    </check>
                </div>
                <!-- Submit -->
                <div class="col-12">
                    <button type="submit" class="container-fluid btn btn-primary fw-medium">Sign Up</button>
                </div>
            </div>
        </div>
        <div class="col-md-3"></div>
    </form>
</div>
<!-- Required JavaScript -->
<!-- Popper.js, then Bootstrap JS -->
<!-- Required JavaScript -->
<include href="views/footer.html" ></include>
