:root {
    --font-accent-color: #02729e;
    --result-border-color: #ccc;
    --not-overdue-color: #209a20;
    --overdue-color: #d24747;
}
body {
    /*background-image: url('./img/background.jpg');*/

    font-family: "Open San", Arial, sans-serif;
    color: #333;
}
.container {

    /*box-shadow: 0 4px 8px rgba(0,0,0,0.1);*/
    /*background-color: white;*/

    padding: 20px;
    border-radius: 8px ;
}

.btn-primary, .btn-secondary {
    border-radius: 5px;
}

+/*******************************************************************/
/***************************   NAVBAR   ****************************/
/*******************************************************************/

.navbar{
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.navbar-collapse{
    height: 100%;
}

.navbar-nav{
    height: 100%;
}

.navbar-brand img {
    width: 100px;
    height: auto;
}

.nav-link{
    font-size: 1.4rem;
}

.nav-link.active{
    color: var(--font-accent-color) !important;
}

.nav-link:hover{
    color: var(--font-accent-color);
    height: 100%;
}

/*******************************************************************/
/***************************   FORMS   ****************************/
/*******************************************************************/
.form-control, .form-select{
    border-radius: 0;
    border: 1px solid #ccc;
}

.btn {
    border-radius: 0;
}

.search-btn{
    height: 38px;
}

/*******************************************************************/
/**********************   SEARCH RESULTS   *************************/
/*******************************************************************/

.search-result-item{
    border-bottom: 1px solid var(--result-border-color);
    border-left: 1px solid var(--result-border-color);
    border-right: 1px solid var(--result-border-color);
    background-color: white;
}

.search-result-item:nth-of-type(1){
    border-top: 1px solid var(--result-border-color);
}

.book-title{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--font-accent-color);
}
.book-author{
    color: var(--font-accent-color);
}




/*******************************************************************/
/***************************   Front Page   ****************************/
/*******************************************************************/
.libraryEntrance {
    width: 100%;     /* Make the image responsive to the container width */
    height: auto;    /* Maintain the aspect ratio */
    border-radius: 10px;  /* Optional: adds rounded corners to the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: adds a shadow effect */
}


#card-element {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 10px;
}


/*******************************************************************/
/*************************   Item Status   *************************/
/*******************************************************************/

.not-overdue{
    color: var(--not-overdue-color);
}

.overdue{
    color: var(--overdue-color);
}



/*******************************************************************/
/***************************   Book Views  *************************/
/*******************************************************************/
.cover-img{
    width: 128px;
    height: 200px;
}

.book-published-date{
    font-size: 0.9rem;
}