:root {
    --font-accent-color: #02729e;
}

body {
    background-color: #f4f4f9;
    color: #333;
}
.container {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: white;
    padding: 20px;
    border-radius: 8px;
}
.form-control, .form-select {
    border-radius: 5px;
    border: 1px solid #ccc;
}
.btn-primary, .btn-secondary {
    border-radius: 5px;
}


/*******************************************************************/
/***************************   NAVBAR   ****************************/
/*******************************************************************/

.navbar-brand img {
    width: 100px;
    height: auto;
}


/*******************************************************************/
/**********************   SEARCH RESULTS   *************************/
/*******************************************************************/

.search-result-item{
    border-bottom: 1px solid black;
}

.book-title{
    font-size: 1.2rem;
    font-weight: bold;
    color: var(--font-accent-color);
}
.book-author{
    color: var(--font-accent-color);
}
.book-description{

}
